:root {
  font-family: "Noto Serif SC", "Source Han Serif SC", "Source Han Serif CN", "Songti SC", "SimSun", "STSong", serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  background-color: #f4f1de;
  /* 浅米色，类似宣纸 */
  color: #2b2d42;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  /* 宣纸质感背景 */
  background-color: #f4f1de;
  background-image: url("https://www.transparenttextures.com/patterns/p6.png");
  /* 细微纤维质感 */
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
  pointer-events: none;
}

#app {
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  /* font-family: "Ma Shan Zheng", "Kaiti", "STKaiti", serif; */
  letter-spacing: 0.1em;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}